<%- iclude('partials/header'); %>
    
    <h1>
        <%= title %>
    </h1>

    <% if (isActive) { %>
    <p>el servidor esta activo</p>
    <% } else { %>
    <p>el servidor esta inactivo</p>
    <% } %>

    <ul>

        <% for(let i = 0; i < users.length; i++) { %>
            <li><%= users[i].id %> <%= users[i].name %> <%= users[i].lastname %>
                <% } %> 
            </li>

    </ul>

<%- iclude('partials/footer'); %>